.advantages {
  padding: 70px 0 42px;

  @media (min-width: 992px) {
    padding: 100px 0 90px;
  }
}

.advantages__header {
  display: block;
}

.advantages__title {
  text-align: center;

  &::after {
    left: 50%;
    transform: translateX(-50%);
  }
}

.advantages__desc {
  padding-bottom: 0;
  text-align: center;

  @media (min-width: 992px) {
    padding-bottom: 0;
  }
}

.advantages__wrapper {
  @media (min-width: 575px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @media (min-width: 640px) and (max-width: 991px) {
    margin: 0 auto;
    max-width: 90%;
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.advantages__list {
  margin-right: -15px;
  margin-left: -15px;
  padding: 28px 15px;

  &[data-mobile="false"] {
    .advantages__pagination {
      display: none;
    }
  }

  @media (min-width: 992px) {
    padding-top: 31px;
  }
}

.advantages__item {
  box-sizing: border-box;
}

.advantages__pagination {
  position: static;
  padding-top: 26px;

  .swiper-pagination-bullet {
    margin: 0;
    width: 10px;
    height: 10px;
    background-color: var(--c-lightgray);
    opacity: 1;

    &-active {
      background-color: var(--c-accent);
    }

    &:not(:last-child) {
      margin-right: 11px;
    }
  }
}
