.footer-links {
  @mixin list-reset;

  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding: 25px 0;
  gap: 11px;

  @media (min-width: 575px) {
    column-gap: 21px;
    grid-template-columns: repeat(2, auto);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 12px;
      width: 100%;
      height: 1px;
      background-color: var(--c-lightgray);
    }
  }

  @media (min-width: 992px) {
    padding: 0;
    padding-bottom: 10px;
    row-gap: 10px;

    &::before {
      display: none;
    }
  }

  @media (min-width: 1130px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer-links__item {
  @media (min-width: 575px) {
    text-align: left;
  }
}

.footer-links__link {
  display: block;
  line-height: 1.62;
  color: inherit;
  transition: color var(--transition);

  span {
    display: block;
  }

  @media (min-width: 575px) {
    font-size: var(--fs-s);
  }

  @media (min-width: 768px) {
    line-height: 1.7;
  }

  @media (min-width: 769px) {
    &:hover {
      color: var(--c-accent);
    }
  }
}
