.hidden {
  opacity: 0;
}

.animated {
  animation: fadeIn 400ms ease-in-out forwards;
}

.features__item,
.advantages__item,
.contacts__item {
  &.animated {
    animation-name: fadeInFromBottom;
  }
}

.promo__title,
.promo__note {
  animation-duration: 700ms;
}

@media (max-width: 575px) {
  .advantages__item {
    opacity: 1;

    &.animated {
      animation: none;
    }
  }
}

@media (min-width: 768px) {
  .contacts__item {
    &.animated {
      animation-name: fadeInFromLeft;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInFromLeft {
  from {
    transform: translateX(-5%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromBottom {
  from {
    transform: translateY(5%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
